body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
   }
h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: darkslategray;
    text-align: center;
   }
h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: darkslategray;
    text-align: center;
   }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #30799B
   }

button {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
   }

.task-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    }

.task-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    }

.task-card h3 {
    margin-top: 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    }

.task-card p {
    margin: 5px 0;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #30799B;
    }

a {
    text-decoration: none;
    color: #555555;
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
   }

li {
    font-size: 24px;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
   }

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin: 25px 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   }

.error {
    color: red;
    margin: 25px 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   }

.success-message {
    color: green;
    margin: 20px 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   }

.montserrat-body {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   }

form label {
    font-family: 'Montserrat', sans-serif;
    color: #30799B;
}

form button {
    font-family: 'Montserrat', sans-serif;
    color: #30799B;
}

.file  {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #30799B;
    }

.file-list  {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #30799B;
    }

footer {
    margin: 20px 0;
    text-align: center;
    }

form select,
form input[type="text"],
form input[type="number"] {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    }

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px;
    }

.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    height: 0;
    padding-bottom: 100%;
    background-color: lightcyan;
    font-family: 'Montserrat', sans-serif;
    }

.header {
    grid-column: span 7;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    }

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.month-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    }

.month-button {
    flex: 0 1 calc(25% - 20px);
    margin: 10px;
    }

.month-button button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: lightcyan;
    color: dimgrey;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    }

.month-button button:hover {
    background-color: #0056b3;
    }

.calendar-title {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    }

.task-link {
    color: red;
    text-decoration: none;
    }

.task-link:hover {
    text-decoration: underline;
    }